USE [master]
GO
/****** Object:  Database [bdConsultaMedicaSolidaria]    Script Date: 10/05/2022 20:19:02 ******/
CREATE DATABASE [bdConsultaMedicaSolidaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdConsulta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bdConsulta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdConsulta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bdConsulta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdConsultaMedicaSolidaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdConsultaMedicaSolidaria]
GO
/****** Object:  Table [dbo].[CENTROS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CENTROS](
	[cen_usu] [int] NOT NULL,
	[cen_nom] [nchar](100) NOT NULL,
	[cen_des] [nvarchar](255) NULL,
 CONSTRAINT [PK_CENTROS] PRIMARY KEY CLUSTERED 
(
	[cen_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[ciu_cod] [int] IDENTITY(1,1) NOT NULL,
	[ciu_nom] [nvarchar](256) NOT NULL,
	[ciud_pro] [int] NOT NULL,
 CONSTRAINT [PK_CIUDADES] PRIMARY KEY CLUSTERED 
(
	[ciu_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLABORADORES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADORES](
	[col_usu] [int] NOT NULL,
	[col_tco] [int] NOT NULL,
	[col_des] [nvarchar](255) NULL,
	[col_nco] [nvarchar](100) NULL,
 CONSTRAINT [PK_COLABORADORES] PRIMARY KEY CLUSTERED 
(
	[col_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTA_MEDICAMENTOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTA_MEDICAMENTOS](
	[cme_con] [int] NOT NULL,
	[cme_med] [int] NOT NULL,
	[cme_des] [nvarchar](500) NULL,
	[cme_fch] [datetime] NOT NULL,
 CONSTRAINT [PK_CONSULTA_MEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[cme_con] ASC,
	[cme_med] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTA_PRUEBAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTA_PRUEBAS](
	[cpr_con] [int] NOT NULL,
	[cpr_pru] [int] NOT NULL,
	[cpr_fch] [datetime] NOT NULL,
	[cpr_des] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRUEBAS_CONSULTA] PRIMARY KEY CLUSTERED 
(
	[cpr_con] ASC,
	[cpr_pru] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTAS](
	[con_cod] [int] IDENTITY(1,1) NOT NULL,
	[con_fch] [date] NOT NULL,
	[con_pac] [int] NOT NULL,
	[con_str] [int] NOT NULL,
	[con_tsa] [int] NOT NULL,
	[con_eco] [int] NOT NULL,
	[con_mot] [nvarchar](256) NULL,
	[con_pat] [nvarchar](256) NULL,
	[con_tra] [nvarchar](max) NULL,
	[con_esa] [int] NOT NULL,
 CONSTRAINT [PK_CONSULTAS] PRIMARY KEY CLUSTERED 
(
	[con_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTOS](
	[doc_cod] [int] NOT NULL,
	[doc_usu] [int] NOT NULL,
	[doc_tdc] [int] NOT NULL,
	[doc_fch] [date] NULL,
	[doc_des] [nvarchar](1000) NULL,
	[doc_ace] [bit] NOT NULL,
 CONSTRAINT [PK_DOCUMENTOS] PRIMARY KEY CLUSTERED 
(
	[doc_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_CONSULTA]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_CONSULTA](
	[eco_cod] [int] IDENTITY(1,1) NOT NULL,
	[eco_des] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ESTADOS_CONSULTA] PRIMARY KEY CLUSTERED 
(
	[eco_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_USUARIO]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_USUARIO](
	[eus_cod] [int] IDENTITY(1,1) NOT NULL,
	[eus_des] [nchar](100) NULL,
 CONSTRAINT [PK_ESTADOS_USUARIO] PRIMARY KEY CLUSTERED 
(
	[eus_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_PACIENTE]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_PACIENTE](
	[hpa_cod] [int] IDENTITY(1,1) NOT NULL,
	[hpa_pac] [int] NOT NULL,
	[hpa_thi] [int] NOT NULL,
	[hpa_fch] [datetime] NULL,
	[hpa_des] [nvarchar](max) NULL,
 CONSTRAINT [PK_HISTORIAL_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[hpa_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDIOMAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDIOMAS](
	[idi_cod] [int] IDENTITY(1,1) NOT NULL,
	[idi_nom] [nchar](50) NOT NULL,
 CONSTRAINT [PK_IDIOMAS] PRIMARY KEY CLUSTERED 
(
	[idi_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENTOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENTOS](
	[med_cod] [int] IDENTITY(1,1) NOT NULL,
	[med_nom] [nvarchar](100) NOT NULL,
	[med_for] [nvarchar](100) NULL,
	[med_pos] [nvarchar](100) NULL,
 CONSTRAINT [PK_MEDICAMENTOS] PRIMARY KEY CLUSTERED 
(
	[med_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJES](
	[men_cod] [int] IDENTITY(1,1) NOT NULL,
	[men_fch] [datetime] NOT NULL,
	[men_uor] [int] NOT NULL,
	[men_ude] [int] NULL,
	[men_txt] [nvarchar](max) NOT NULL,
	[men_lee] [bit] NOT NULL,
 CONSTRAINT [PK_MENSAJES] PRIMARY KEY CLUSTERED 
(
	[men_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[pac_usu] [int] NOT NULL,
	[pac_sex] [nchar](10) NOT NULL,
	[pac_fch] [date] NOT NULL,
	[pac_san] [nchar](10) NULL,
 CONSTRAINT [PK_PACIENTES] PRIMARY KEY CLUSTERED 
(
	[pac_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGINAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGINAS](
	[pag_cod] [int] IDENTITY(1,1) NOT NULL,
	[pag_nom] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_PAGINAS] PRIMARY KEY CLUSTERED 
(
	[pag_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[pai_cod] [int] IDENTITY(1,1) NOT NULL,
	[pai_nom] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[pai_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[pro_cod] [int] IDENTITY(1,1) NOT NULL,
	[pro_nom] [nvarchar](100) NOT NULL,
	[pro_pai] [int] NOT NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[pro_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRUEBAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRUEBAS](
	[pru_cod] [int] NOT NULL,
	[pru_nom] [nvarchar](100) NOT NULL,
	[pru_des] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRUEBAS] PRIMARY KEY CLUSTERED 
(
	[pru_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_PAGINAS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_PAGINAS](
	[rpa_rol] [int] NOT NULL,
	[rpa_pag] [int] NOT NULL,
 CONSTRAINT [PK_ROL_PAGINAS] PRIMARY KEY CLUSTERED 
(
	[rpa_rol] ASC,
	[rpa_pag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[rol_cod] [int] IDENTITY(1,1) NOT NULL,
	[rol_des] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[rol_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANITARIOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANITARIOS](
	[san_usu] [int] NOT NULL,
	[san_nco] [nchar](100) NOT NULL,
	[san_des] [nvarchar](256) NULL,
	[san_tes] [int] NOT NULL,
	[san_tri] [bit] NOT NULL,
 CONSTRAINT [PK_ESPECIALISTAS] PRIMARY KEY CLUSTERED 
(
	[san_usu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[svc_cod] [int] IDENTITY(1,1) NOT NULL,
	[svc_des] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[svc_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOS_CENTRO]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOS_CENTRO](
	[sce_cen] [int] NOT NULL,
	[sce_svc] [int] NOT NULL,
 CONSTRAINT [PK_SERVICIOSCENTRO] PRIMARY KEY CLUSTERED 
(
	[sce_cen] ASC,
	[sce_svc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_HISTORIAL]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_HISTORIAL](
	[thi_cod] [int] IDENTITY(1,1) NOT NULL,
	[thi_des] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TIPO_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[thi_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_COLABORADOR]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_COLABORADOR](
	[tco_cod] [int] IDENTITY(1,1) NOT NULL,
	[tco_des] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_TIPOS_COLABORADOR] PRIMARY KEY CLUSTERED 
(
	[tco_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_DOCUMENTO]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_DOCUMENTO](
	[tdc_cod] [int] IDENTITY(1,1) NOT NULL,
	[tdc_nom] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TIPOS_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[tdc_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_SANITARIO]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_SANITARIO](
	[tsa_cod] [int] IDENTITY(1,1) NOT NULL,
	[tsa_des] [nvarchar](100) NOT NULL,
	[tsa_esp] [bit] NOT NULL,
 CONSTRAINT [PK_TIPOS_ESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[tsa_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/05/2022 20:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[usu_cod] [int] IDENTITY(1,1) NOT NULL,
	[usu_did] [nvarchar](100) NOT NULL,
	[usu_ema] [nvarchar](256) NOT NULL,
	[usu_nem] [nvarchar](256) NOT NULL,
	[usu_pwh] [nvarchar](max) NOT NULL,
	[usu_nom] [nvarchar](100) NOT NULL,
	[usu_ape] [nvarchar](100) NOT NULL,
	[usu_dir] [nvarchar](256) NOT NULL,
	[usu_cpo] [nchar](50) NULL,
	[usu_ciu] [int] NOT NULL,
	[usu_pro] [int] NOT NULL,
	[usu_pai] [int] NOT NULL,
	[usu_tfn] [nchar](50) NULL,
	[usu_idi] [int] NOT NULL,
	[usu_rol] [int] NOT NULL,
	[usu_eus] [int] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[usu_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CENTROS] ADD  CONSTRAINT [DF_CENTROS_cen_svc]  DEFAULT ((1)) FOR [cen_des]
GO
ALTER TABLE [dbo].[CENTROS]  WITH CHECK ADD  CONSTRAINT [FK_CENTROS_USUARIOS] FOREIGN KEY([cen_usu])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[CENTROS] CHECK CONSTRAINT [FK_CENTROS_USUARIOS]
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_CIUDADES_PROVINCIAS] FOREIGN KEY([ciud_pro])
REFERENCES [dbo].[PROVINCIAS] ([pro_cod])
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_CIUDADES_PROVINCIAS]
GO
ALTER TABLE [dbo].[COLABORADORES]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADORES_TIPOS_COLABORADOR] FOREIGN KEY([col_tco])
REFERENCES [dbo].[TIPOS_COLABORADOR] ([tco_cod])
GO
ALTER TABLE [dbo].[COLABORADORES] CHECK CONSTRAINT [FK_COLABORADORES_TIPOS_COLABORADOR]
GO
ALTER TABLE [dbo].[COLABORADORES]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADORES_USUARIOS] FOREIGN KEY([col_usu])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[COLABORADORES] CHECK CONSTRAINT [FK_COLABORADORES_USUARIOS]
GO
ALTER TABLE [dbo].[CONSULTA_MEDICAMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTA_MEDICAMENTOS_MEDICAMENTOS] FOREIGN KEY([cme_med])
REFERENCES [dbo].[MEDICAMENTOS] ([med_cod])
GO
ALTER TABLE [dbo].[CONSULTA_MEDICAMENTOS] CHECK CONSTRAINT [FK_CONSULTA_MEDICAMENTOS_MEDICAMENTOS]
GO
ALTER TABLE [dbo].[CONSULTA_PRUEBAS]  WITH CHECK ADD  CONSTRAINT [FK_PRUEBAS_CONSULTA_PRUEBAS] FOREIGN KEY([cpr_pru])
REFERENCES [dbo].[PRUEBAS] ([pru_cod])
GO
ALTER TABLE [dbo].[CONSULTA_PRUEBAS] CHECK CONSTRAINT [FK_PRUEBAS_CONSULTA_PRUEBAS]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_ESTADOS_CONSULTA] FOREIGN KEY([con_eco])
REFERENCES [dbo].[ESTADOS_CONSULTA] ([eco_cod])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_ESTADOS_CONSULTA]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_PACIENTES] FOREIGN KEY([con_pac])
REFERENCES [dbo].[PACIENTES] ([pac_usu])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_PACIENTES]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_SANITARIOS] FOREIGN KEY([con_str])
REFERENCES [dbo].[SANITARIOS] ([san_usu])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_SANITARIOS]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_SANITARIOS1] FOREIGN KEY([con_esa])
REFERENCES [dbo].[SANITARIOS] ([san_usu])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_SANITARIOS1]
GO
ALTER TABLE [dbo].[CONSULTAS]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTAS_TIPOS_SANITARIO] FOREIGN KEY([con_tsa])
REFERENCES [dbo].[TIPOS_SANITARIO] ([tsa_cod])
GO
ALTER TABLE [dbo].[CONSULTAS] CHECK CONSTRAINT [FK_CONSULTAS_TIPOS_SANITARIO]
GO
ALTER TABLE [dbo].[DOCUMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTOS_TIPOS_DOCUMENTO] FOREIGN KEY([doc_tdc])
REFERENCES [dbo].[TIPOS_DOCUMENTO] ([tdc_cod])
GO
ALTER TABLE [dbo].[DOCUMENTOS] CHECK CONSTRAINT [FK_DOCUMENTOS_TIPOS_DOCUMENTO]
GO
ALTER TABLE [dbo].[DOCUMENTOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENTOS_USUARIOS] FOREIGN KEY([doc_usu])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[DOCUMENTOS] CHECK CONSTRAINT [FK_DOCUMENTOS_USUARIOS]
GO
ALTER TABLE [dbo].[HISTORIAL_PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIAL_PACIENTE_PACIENTES] FOREIGN KEY([hpa_pac])
REFERENCES [dbo].[PACIENTES] ([pac_usu])
GO
ALTER TABLE [dbo].[HISTORIAL_PACIENTE] CHECK CONSTRAINT [FK_HISTORIAL_PACIENTE_PACIENTES]
GO
ALTER TABLE [dbo].[HISTORIAL_PACIENTE]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIAL_PACIENTE_TIPO_HISTORIAL] FOREIGN KEY([hpa_thi])
REFERENCES [dbo].[TIPO_HISTORIAL] ([thi_cod])
GO
ALTER TABLE [dbo].[HISTORIAL_PACIENTE] CHECK CONSTRAINT [FK_HISTORIAL_PACIENTE_TIPO_HISTORIAL]
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJES_USUARIOS] FOREIGN KEY([men_cod])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[MENSAJES] CHECK CONSTRAINT [FK_MENSAJES_USUARIOS]
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD  CONSTRAINT [FK_MENSAJES_USUARIOS1] FOREIGN KEY([men_ude])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[MENSAJES] CHECK CONSTRAINT [FK_MENSAJES_USUARIOS1]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTES_USUARIOS] FOREIGN KEY([pac_usu])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_PACIENTES_USUARIOS]
GO
ALTER TABLE [dbo].[PROVINCIAS]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCIAS_PAISES] FOREIGN KEY([pro_pai])
REFERENCES [dbo].[PAISES] ([pai_cod])
GO
ALTER TABLE [dbo].[PROVINCIAS] CHECK CONSTRAINT [FK_PROVINCIAS_PAISES]
GO
ALTER TABLE [dbo].[ROL_PAGINAS]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PAGINAS_PAGINAS] FOREIGN KEY([rpa_pag])
REFERENCES [dbo].[PAGINAS] ([pag_cod])
GO
ALTER TABLE [dbo].[ROL_PAGINAS] CHECK CONSTRAINT [FK_ROL_PAGINAS_PAGINAS]
GO
ALTER TABLE [dbo].[ROL_PAGINAS]  WITH CHECK ADD  CONSTRAINT [FK_ROL_PAGINAS_ROLES] FOREIGN KEY([rpa_rol])
REFERENCES [dbo].[ROLES] ([rol_cod])
GO
ALTER TABLE [dbo].[ROL_PAGINAS] CHECK CONSTRAINT [FK_ROL_PAGINAS_ROLES]
GO
ALTER TABLE [dbo].[SANITARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIALISTAS_TIPOS_ESPECIALISTAS] FOREIGN KEY([san_tes])
REFERENCES [dbo].[TIPOS_SANITARIO] ([tsa_cod])
GO
ALTER TABLE [dbo].[SANITARIOS] CHECK CONSTRAINT [FK_ESPECIALISTAS_TIPOS_ESPECIALISTAS]
GO
ALTER TABLE [dbo].[SANITARIOS]  WITH CHECK ADD  CONSTRAINT [FK_ESPECIALISTAS_USUARIOS] FOREIGN KEY([san_usu])
REFERENCES [dbo].[USUARIOS] ([usu_cod])
GO
ALTER TABLE [dbo].[SANITARIOS] CHECK CONSTRAINT [FK_ESPECIALISTAS_USUARIOS]
GO
ALTER TABLE [dbo].[SERVICIOS_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_CENTRO_CENTROS] FOREIGN KEY([sce_cen])
REFERENCES [dbo].[CENTROS] ([cen_usu])
GO
ALTER TABLE [dbo].[SERVICIOS_CENTRO] CHECK CONSTRAINT [FK_SERVICIOS_CENTRO_CENTROS]
GO
ALTER TABLE [dbo].[SERVICIOS_CENTRO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_CENTRO_SERVICIOS] FOREIGN KEY([sce_svc])
REFERENCES [dbo].[SERVICIOS] ([svc_cod])
GO
ALTER TABLE [dbo].[SERVICIOS_CENTRO] CHECK CONSTRAINT [FK_SERVICIOS_CENTRO_SERVICIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_CIUDADES] FOREIGN KEY([usu_ciu])
REFERENCES [dbo].[CIUDADES] ([ciu_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_CIUDADES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ESTADOS_USUARIO] FOREIGN KEY([usu_eus])
REFERENCES [dbo].[ESTADOS_USUARIO] ([eus_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ESTADOS_USUARIO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_IDIOMAS] FOREIGN KEY([usu_idi])
REFERENCES [dbo].[IDIOMAS] ([idi_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_IDIOMAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PAISES] FOREIGN KEY([usu_pai])
REFERENCES [dbo].[PAISES] ([pai_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PAISES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PROVINCIAS] FOREIGN KEY([usu_pro])
REFERENCES [dbo].[PROVINCIAS] ([pro_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PROVINCIAS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([usu_rol])
REFERENCES [dbo].[ROLES] ([rol_cod])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'clave primaria' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HISTORIAL_PACIENTE', @level2type=N'COLUMN',@level2name=N'hpa_cod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'clave foránea al paciente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HISTORIAL_PACIENTE', @level2type=N'COLUMN',@level2name=N'hpa_pac'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cf al tipo de historial ( analítica, informe, resonancia ..)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HISTORIAL_PACIENTE', @level2type=N'COLUMN',@level2name=N'hpa_thi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'fecha de realización de la prueba' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HISTORIAL_PACIENTE', @level2type=N'COLUMN',@level2name=N'hpa_fch'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción  de la prueba' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HISTORIAL_PACIENTE', @level2type=N'COLUMN',@level2name=N'hpa_des'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Grupo sanguineo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PACIENTES', @level2type=N'COLUMN',@level2name=N'pac_san'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'alergia, vacuna, implante, operacion, medicacion, diagnostico, informe, peso, altura..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TIPO_HISTORIAL', @level2type=N'COLUMN',@level2name=N'thi_des'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'documento acreditacion, politica privacidad, aviso legal...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TIPOS_DOCUMENTO', @level2type=N'COLUMN',@level2name=N'tdc_nom'
GO
USE [master]
GO
